<style>
    #main {
{#        height: 450px;#}
    }

    #search {
        height: 30px;
        padding: 10px;
        margin-left: 35%;
    }

    #search input {
        height: 20px;
        width: 150px;
        font-size: 18px;
    }

    #main ul {
        overflow: auto;
        height: 380px;
    }

    .template_key {
        display: none;
    }

    .template_id {
        display: none;
    }

    #main li {
        padding: 10px 15px;
        width: 90%;
        height: 22px;
        margin: 3px;
        list-style-type: none;
    }

    .template_name {
        float: left;
    }

    .template_category {
        float: left;
        margin-left: 1%;
        font-size: 14px;
        color: #444444;
    }

    .template_button {
        float: right;
        margin-left: 10%;
    }

    .template_button span {
        margin: 1px 3px;
        cursor: pointer;
    }

    .template_pos {
        display: none;
    }
    #add_but {
        float: right;
        margin: 0px 38px;
        height: 20px;
    }
</style>
<div id="body_head">
    <span class="title">选择设备类型</span>
    <span class="ref">刷新</span>
</div>
<div id="main">
    <div id="search">
        <label>
            快速搜索：
            <input value="" autocomplete="off">
        </label>
    </div>
    <ul>
        {% for template in templateList %}
            <li class="template">
                <div class="template_name">{{ template.EquipmentName }}</div>
                <div class="template_category">[{{ template.PeopleUpload.nickName }}]</div>
                <div class="template_id">{{ template.id }}</div>
                <div class="template_key">{{ template.uploadTime }}</div>
                <div class="template_pos">{{ template.file.name }}</div>
                <div class="template_button">
                    <span class="preview">预览</span> |
                    <span class="download">下载</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div id="add_but"><input type="button" value="上传文件"></div>
</div>
<div id="prView"></div>
<div id="uploadBox"></div>
<script>
    var DownloadPath = "";
    var pid;
    var template = $(".template");
    var my_list = [];
    $("#add_but input").button();
    $("#add_but input").click(function () {
        $.ajax({
            cache: false,
            type: "POST",
            url: "upload",
            data: "type=getForm",
            async: false,
            error: function () {
                alert('加载失败');
            },
            success: function (data) {
                $("#uploadBox").html(data);
                $("#uploadBox").dialog({
                    title: "上传文件",
                    resizable: false,
                    width: 350,
                    modal : true,
                    buttons: {
                        "确定": function (){
                            var oData = new FormData();
                            oData.append("file", $("#id_file")[0].files[0]);
                            oData.append("name", $("#id_file").val().replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi,"$1"));
                            var oReq = new XMLHttpRequest();
                            oReq.open( "POST", "upload" , true);
                            oReq.onload = function() {
                                  if (oReq.status == 200) {
                                      alert("上传成功");
                                      getPage("addEquipment");
                                 } else {
                                      alert("失败");
                                 }
                            };
                            oReq.send(oData);
                            $("#uploadBox").html("");
                            $(".ui-dialog").remove();
                        },
                        "取消": function () {
                            $("#uploadBox").html("");
                            $(".ui-dialog").remove();
                        }
                    }
                });
            }
        });
    });

    for (var i = 0; i < template.length; i++) {
        my_list.push($(template[i]).find(".template_name").text());
        //点击事件
        $(template[i]).find(".preview").click(function () {
            var mm = $(this).parent().parent().find(".template_pos").text();

            if (mm == "空"){
                alert("虚拟节点不能预览");
                return false;
            }

            var ts = mm.replace(/.xls$/, ".html").substr(17);
            DownloadPath = $(this).parent().parent().find(".template_pos").text().substr(17);
            $.ajax({
                cache: false,
                type: "get",
                url: ts,
                data: "",
                async: false,
                error: function () {
                    alert('加载失败');
                },
                success: function (parameters) {
                    var data = parameters;
                    $("#prView").html(data);
                    $("#prView").show();
                    $("#main").hide();
                    if ($("#prView center").length<=0){
                        $("#prView").append("<center></center>");
                    }
                    $("#prView center").append(
                            "<input id='cendownload' type='button' value='下载'>" +
                            "<input id='cenreturn' type='button' value='返回'>"
                    );
                    var imgbox = $('#prView img');
                    for (var imgid = 0; imgid < imgbox.length; imgid++) {
                        var s = $(imgbox[imgid]).attr('src');
                        $(imgbox[imgid]).attr('src', 'static/data/Equipment/' + s);
                    }
                    $("#cendownload").click(function () {
                        window.location.href = DownloadPath;
                    });
                    $("#cenreturn").click(function () {
                        $(".ui-dialog").hide();
                        $("#prView").hide();
                        $("#main").show();

                    });
                    $("#prView center").dialog({
                        resizable: false
                    });
                }
            });
        });
        $(template[i]).find(".download").click(function () {
            window.location.href = $(this).parent().parent().find(".template_pos").text().substr(17);
        });
    }
    {#  $("#search input").autocomplete({#}
    {#      source: my_list#}
    {#  });#}

    $("#search input").on("input propertychange", function () {
        var v = $("#search input").val();
        var arr = v.split(" ");
        var template = $(".template");
        for (var i = 0; i < template.length; i++) {
            var name = $(template[i]).find(".template_name").text();
            var cate = $(template[i]).find(".template_category").text();
            for (var j = 0; j < arr.length; j++) {
                if ((name + cate).indexOf(arr[j]) == -1) {
                    break;
                }
            }
            if (j < arr.length) {
                $(template[i]).hide();
            } else {
                $(template[i]).show();
            }
        }
    });

    function my_exit_() {
        $("#uploadBox").html("");
        $(".ui-dialog").hide();
        return true;
    }
    _my_loadOver("addEquipment");
</script>



