
<style>
  #main{
    height: 500px;
    background-color: #0077cc;
  }
  #search{
    height: 30px;
    padding: 10px;
    margin-left: 35%;
  }
  #search input{
    height: 20px;
    width: 150px;
    font-size: 18px;
  }
  #main ul{
    overflow:auto;
    height: 400px;
    background-color: #5690D2;
  }
  .template_key{
    display: none;
  }
  #main li{
    padding: 10px 15px;
    border:2px solid #ffffff;
    width: 90%;
    margin: 3px;
    list-style-type: none;
  }
  .template_name{
    float: left;
  }
  .template_category{
    margin-left: 40%;
    font-size: 14px;
    color: #444444;
  }
</style>
<div id="body_head">
  <span class="title">选择实验类型</span>
  <span class="ref">刷新</span>
</div>
<div id="main">
  <div id="search">
    快速搜索：<input>
  </div>
  <ul>
    {% for template in templateList%}
      <li class="template" value="{{template.templatePositions}}">
        <div class="template_name">{{template.templateName}}</div>
        <div class="template_category" value="{{template.category}}"></div>
        <div class="template_key">{{template.indexKey}}</div>
      </li>
    {% endfor %}
  </ul>
</div>
<script>
  var template = $(".template");

  var my_list = [];
  for (var i=0;i<template.length;i++){
    var category = $(template[i]).find(".template_category");
    var l = ["集中修试验报告模板//变电所","交接验收试验报告模板//变电所","日常试验报告模板//变电所","集中修试验报告模板//配电所","交接验收试验报告模板//配电所","日常试验报告模板//配电所"];
    var s = parseInt($(category).attr("value"));
    $(category).text(l[s]);
    my_list.push($(template[i]).find(".template_name").text());
    //点击事件
    $(template[i]).click(function(){
      $.ajax({
        cache: false,
        type: "POST",
        url: "getExcel",
        data: "fileName=" + $(this).attr("value"),
        async: false,
        error: function (request) {
          alert('加载失败');
        },
        success: function (data) {
          $("#rightBox").html(data);
        }
      });
    });
  }
  $("#search input").autocomplete({
      source: my_list
  });

  $("#search input").on("input propertychange", function(){
      var v = $("#search input").val();
//      v = v.replace(" ","");
      v = $.trim(v, "g");
      var template = $(".template");
      for (var i=0;i<template.length;i++){
        var name = $(template[i]).find(".template_name").text();
        var cate = $(template[i]).find(".template_category").text();
        if ($.trim(name + cate, "g").indexOf(v) == -1){
          $(template[i]).hide();
        }else{
          $(template[i]).show();
        }
      }
  });

  function my_exit_(){
    return true;
  }
</script>
