<style>
    #main li {
        cursor: default;
        height: 18px;
        padding: 3px;
        margin: 2px;
        margin-right: 80px;
        display: none;
        list-style-type: square;
        -moz-user-select:-moz-none;
    }

    #main .name {
        float: left;

    }

    #main .category {
        float: left;
        margin-left: 8px;
        font-size: 14px;
        color: #5a5a5a;
    }

    #main .numberBox {
        float: right;
        margin-right: 40px;
    }

    #main .numberBox input {
        float: right;
        width: 40px;
    }

    #main .EquiType_but {
        float: right;
        margin-right: 15px;
        font-size: 15px;
        color: #0040ff;
    }
    #main .EquiType_but span{
        cursor: pointer;
    }
</style>
</head>
<body>
<div id="body_head">
    <span class="title">设备类型管理</span>
    <span class="ref">刷新</span>
</div>
<div id="main">
    <ul id="root">
        <li id="item_-1" value="0" onselectstart="return false;">
            <div class="name">所有设备</div>
            <div class="EquiType_but">
                <span class="add">增加子项</span>
            </div>
        </li>

    </ul>
    <div class="upWindow"></div>
</div>
<script type="text/javascript">
    var items = {{ tree|safe }};
    function new_li(item) {
        return '<li id="item_' + item.id + '" value="1" onselectstart="return false;">' +
                '<div class="name">' + item.inf.templateName + '</div>' +
                '<div class="category">[' + item.inf.category + ']</div>' +
                '<div class="EquiType_but">' +
                '<span class="add">增加子项</span> | ' +
                '<span class="change">修改</span> | ' +
                '<span class="del">删除</span>' +
                '</div>' +
                '<div class="numberBox"><input type="number" value=' + item.id + '></div>' +
                '</li>';
    }
    function Child_s(parent, parentId, d) {
        parent.append('<ul class="u_' + d.toString() + '"></ul>');
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            if (item.pid == parentId && item.id != parentId) {
                sub = parent.find(".u_" + d.toString());
                sub.append(new_li(item));
                Child_s(sub, item.id, d + 1);
            }
        }
    }
    Child_s($("#root"), -1, 0);

    $.map($("#main li"), function (x) {
        $(x).click(function () {
            if ($(this).attr("value") == "0") {
                $(this).next().find("li").show("slow");
                $(this).attr("value", "1");
            } else {
                $(this).next().find("li").hide("slow");
                $(this).attr("value", "0");
            }
        });
    });
    $("#item_-1").show();
    $.map($(".numberBox"), function (x) {//文件数, 输入框
        $(x).click(function () {
            return false;
        });
    });
    $.map($(".add"), function (x) {
        $(x).click(function () {
            var self = this;
            $.ajax({
                cache: false,
                type: "post",
                url: "uploadForm",
                data: "type=getForm",
                async: false,
                error: function (request) {
                    alert('加载失败');
                },
                success: function (data) {
                    $(".upWindow").html(data);
                    var name = $(self).parent().prevAll(".name").text();
                    var id = $(self).parent().parent().attr("id").split("_")[1];
                    $("#id_DirectParent").attr("value", name);
                    $(".upWindow").dialog({
                        resizable: false,
                        title: "添加设备节点",
                        resizable: false,
                        width: 350,
                        modal : true,
                        buttons: {
                            "确定": function () {
                                    var d = "type=postForm&id=" + id + "&name=" + $("#id_category").val();
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "uploadForm",
                                        data: d,
                                        async: false,
                                        error: function (request) {
                                            alert('加载失败');
                                        },
                                        success: function (data) {
                                            alert("添加成功");
                                        }
                                    });
                                 $(".upWindow").dialog("close");
                                 getPage("EquipmentManage");
                            },
                            "取消": function () {
                                $(".upWindow").dialog("close");
                            }
                        }
                    });
                }
            });
            return false;
        });
    });
    function my_exit_() {
        $(".upWindow").html("");
        return true;
    }
    _my_loadOver("EquipmentManage");
</script>
</body>

