<style>
    #main li {
        cursor: default;
        height: 18px;
        padding: 3px;
        margin: 2px;
        margin-right: 80px;
        display: none;
        list-style-type: square;
        -moz-user-select:-moz-none;
        background-color: #e0e0e0;
    }

    #main .name {
        float: left;

    }

    #main .category {
        float: left;
        margin-left: 8px;
        font-size: 14px;
        color: #5a5a5a;
    }

    #main .numberBox {
        float: right;
        margin-right: 40px;
    }

    #main .numberBox input {
        float: right;
        width: 40px;
    }
    #main .pid{
        display: none;
    }


    #main .EquiType_but {
        float: right;
        margin-right: 15px;
        font-size: 15px;
        color: #0040ff;
    }
    #main .EquiType_but span{
        cursor: pointer;
    }
    #main .sid{
        display: none;
    }
</style>
</head>
<body>
<div id="body_head">
    <span class="title">设备类型管理</span>
    <span class="ref">刷新</span>
</div>
<div id="main">
    <ul id="root">
        <li id="item_-1" value="1" onselectstart="return false;">
            <div class="name">所有设备</div>
            <div class="EquiType_but">
                <span class="add">增加子项</span>
            </div>
        </li>

    </ul>
    <div class="upWindow"></div>
</div>
<script type="text/javascript">
    var items = {{ tree|safe }};
    function new_li(item) {
        return '<li id="item_' + item.id + '" value="1" onselectstart="return false;">' +
                '<div class="name">' + item.inf.templateName + '</div>' +
                '<div class="category">[' + item.inf.templatePositions + ']</div>' +
                '<div class="pid">' + item.pid + '</div>' +
                '<div class="sid">' + item.id + '</div>' +
                '<div class="EquiType_but">' +
                '<span class="add">增加子项</span> | ' +
                '<span class="change">修改</span> | ' +
                '<span class="del">删除</span>' +
                '</div>' +
                '<div class="numberBox"><input type="number" value="0"></div>' +
                '</li>';
    }
    function add1(sub){
        var pid = parseInt(sub.find(".pid").text());
        if (pid != -1){
            var par = $("#item_" + pid);
            var b = par.find(".numberBox input");
            b.val(parseInt(b.val()) + 1);
            add1(par);
        }
    }

    function Child_s(parent, parentId, d) {
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            if (item.pid == parentId && item.id != parentId){
                parent.append('<ul class="u_' + item.id + '"></ul>');
                var sub = parent.find(".u_" + item.id);
                $("#item_" + item.pid).css("background-color", "#fff");
                sub.append(new_li(item));
                add1($("#item_" + item.id));
                Child_s(sub, item.id, d + 1);
            }
        }
    }
    Child_s($("#root"), -1, 0);

    $.map($("#main li"), function (x) {
        $(x).click(function () {
            if ($(this).attr("value") == "1") {
                $.map($(this).nextAll("ul").children("li"),function(x){
                    $(x) .show("slow");
                    $(x).attr("value", "1");
                });
                $(this).attr("value", "0");
            } else {
                $.map($(this).nextAll("ul").find("li"),function(x){
                    $(x).hide("slow");
                });
                $(this).attr("value", "1");
            }
        });
    });
    $("#item_-1").show();
    $.map($(".numberBox"), function (x) {//文件数, 输入框
        $(x).click(function () {
            return false;
        });
    });
    $.map($(".change"), function (x) {
        $(x).click(function () {
            var name = prompt("节点名", "修改名称");
            if (name == '' || name == undefined){
                return false;
            }
            $.ajax({
                cache: false,
                type: "post",
                url: "changeEqu",
                data: "type=change&" + "text=" + name + "&id=" + $(this).parent().siblings(".sid").text(),
                async: false,
                error: function () {
                    alert('加载失败');
                },
                success: function (data) {
                    var jsonObj = JSON.parse(data);
                    if (jsonObj.Success) {
                        alert("修改成功");
                    } else {
                        if (jsonObj.errID == 303) {
                            alert("权限不足");
                        } else {
                            alert("失败");
                        }
                    }
                }
            });
            return false;
        });
    });

    $.map($(".del"), function (x) {
        $(x).click(function () {
            $.ajax({
                cache: false,
                type: "post",
                url: "changeEqu",
                data: "type=del&id=" + $(this).parent().siblings(".sid").text(),
                async: false,
                error: function () {
                    alert('加载失败');
                },
                success: function (data) {
                    var jsonObj = JSON.parse(data);
                    if (jsonObj.Success) {
                        alert("删除成功");
                    } else {
                        if (jsonObj.errID == 303) {
                            alert("权限不足");
                        } else {
                            alert("失败");
                        }
                    }
                }
            });
            getPage("EquipmentManage");
        });
    });

    $.map($(".add"), function (x) {
        $(x).click(function () {
            var self = this;
            $.ajax({
                cache: false,
                type: "post",
                url: "uploadForm",
                data: "type=getForm",
                async: false,
                error: function () {
                    alert('加载失败');
                },
                success: function (data) {
                    $(".upWindow").html(data);
                    var name = $(self).parent().prevAll(".name").text();
                    var id = $(self).parent().parent().attr("id").split("_")[1];
                    $("#id_DirectParent").attr("value", name);
                    $(".upWindow").dialog({
                        resizable: false,
                        title: "添加设备节点",
                        resizable: false,
                        width: 350,
                        modal : true,
                        buttons: {
                            "确定": function () {
                                    var oData = new FormData();
                                    oData.append("templatePositions", $("#id_templatePositions")[0].files[0]);
                                    oData.append("name", $("#id_templatePositions").val().replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi,"$1"));
                                    oData.append("type", "postForm");
                                    oData.append("id", id);
                                    oData.append("templateName", $("#id_templateName").val());
                                    oData.append("DirectParent", id);
                                    var oReq = new XMLHttpRequest();
                                    oReq.open( "POST", "uploadForm" , true);
                                    oReq.onload = function() {
                                      if (oReq.status == 200) {
                                          alert("成功");
                                          getPage("EquipmentManage");
                                      }else{
                                          alert("失败");
                                      }
                                    };
                                    oReq.send(oData);
                                 $(".upWindow").html("");
                                 $(".ui-dialog").remove();
                                 getPage("EquipmentManage");
                            },
                            "取消": function () {
                                 $(".upWindow").html("");
                                 $(".ui-dialog").remove();
                            }
                        }
                    });
                }
            });
            getPage("EquipmentManage");
        });
    });
    function my_exit_() {
        $(".upWindow").html("");
        $(".ui-dialog").remove();
        return true;
    }
    _my_loadOver("EquipmentManage");
</script>
</body>

