<style>
    #main {
        height: 500px;
    }

    #main ul {
        overflow: auto;
        height: 400px;
        margin: 8px 0 3px;
        padding: 0;
    }

    #main li {
        padding: 10px 15px;
        width: 90%;
        height: 22px;
        margin: 3px;
        list-style-type: none;
    }
    .equ-head{
        background-color: #E0E0E0;
        padding: 20px 5%;
    }
    .equ-head label{
        margin-left: 2%;
        margin-right: 33%;
    }
    .equ-down .box{
        float: left;
        height: 80%;
        width: 45%;
        margin-left: 3%;
    }
    .equ-left{

    }
    .equ-right{

    }



</style>
<div id="body_head">
    <span class="title">试验数据对比</span>
    <span class="ref">刷新</span>
</div>
<div id="main">
    <div class="equ-head">
        <label>选择原数据:<input type="button" value="..."></label>
        <label>选择参照数据:<input type="button" value="..."></label>
    </div>
    <div class="equ-down">
        <div class="equ-left box">
            <ul>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
            </ul>
        </div>
        <div class="equ-right box">
            <ul>
                <li>试验时间:  2016年5月23日  =>  2016年5月21日</li>
                <li>123</li>
                <li>123</li>
            </ul>
        </div>
    </div>

</div>
<script>
    function my_exit_() {
        return true;
    }
    _my_loadOver("equReport");
</script>

