<div id="body_head">
  <span class="title">首页</span>
  <span class="ref">刷新</span>
</div>
<div id="main">
  <div class="sub_title">
    <div id="quick">
      <span class="t">快捷</span>
      <hr align="center" width="90%" />
      <div class="main">
          {#        <div class="b"><img src="static/img/add_normal.png">#}
          {#          <span>新建试验</span>#}
          {#        </div>#}
      </div>
    </div>
  </div>
  <div class="sub_title">
    <div id="logs">
      <span class="t">日志</span>
        <span class="more" id="log_more">更多>></span>
      <hr align="center" width="90%" />
      <div class="main">
        <ul>
          {% for log in logs %}
              <li>{{ log.time }} [{{ log.user.nickName }}]<span class="logCon">{{ log.content }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="sub_title">
    <div id="system">
      <span class="t">系统</span>
      <hr align="center" width="90%" />
      <div class="main">
        <p>服务器版本：1.0.6</p>
        <p>编程语言：Python</p>
        <p>服务器平台：阿里云</p>
        <p>内存：{{ n | filesizeformat }}/{{ f | filesizeformat }}</p>
      </div>
    </div>
  </div>
  <div class="sub_title">
    <div id="team">
      <span class="t">团队</span>
      <hr align="center" width="90%" />
      <div class="main">
        <p>后台企划：于硕，高晋，刘波</p>
        <p>前台设计：于硕，高晋，刘波</p>
        <p>测试运行：于硕，高晋，刘波</p>
      </div>
    </div>
  </div>
</div>
<script>
    $("#log_more").click(function () {
        if (my_exit_()) {
            getPage("logsManage");
        }
    });
    $.map($(".logCon"), function (x) {
        var s = $(x).text();
        if (s.length > 12) {
            $(x).text(s.substr(0, 12) + "...");

        }
    });

  function my_exit_(){
    return true;
  }
    _my_loadOver("home");
</script>
