<style>
    #main {
        height: 460px;
    }

    #search {
        height: 30px;
        padding: 10px;
        margin-left: 35%;
    }

    #search input {
        height: 20px;
        width: 150px;
        font-size: 18px;
    }

    #main ul {
        overflow: auto;
        height: 370px;
    }

    .template_key {
        display: none;
    }

    #main li {
        padding: 10px 15px;
        width: 90%;
        height: 22px;
        margin: 3px;
        list-style-type: none;
    }

    .template_name {
        float: left;
    }

    .template_category {
        float: left;
        margin-left: 1%;
        font-size: 14px;
        color: #444444;
    }

    .template_button {
        float: right;
        margin-left: 10%;
    }

    .template_button span {
        margin: 1px 3px;
        cursor: pointer;
    }

    .template_pos {
        display: none;
    }
    .Vimg{
        position:relative;
    }
    .v{
        position:absolute;
    }
    #addFile {
        float: right;
        margin: 0 38px;
        height: 20px;
    }
    #load_form #x{
        margin: 7px 7px 7px 30px;
    }
</style>
<div id="body_head">
    <span class="title">新增变配电所</span>
    <span class="ref">刷新</span>
</div>
<div id="main">
    <div id="search">
{#        快速搜索：#}
{#        <input value="" autocomplete="off">#}
    </div>
    <ul>
        {% for img in imgList %}
            <li class="template">
                <div class="template_name">{{ img.imgName }}</div>
                <div class="template_category"></div>
                <div class="template_key"></div>
                <div class="template_pos"><img class="v" src="{{ img.myFileName }}"></div>
                <div class="template_button" id="{{ img.id }}">
                    <span class="preview">预览</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="Vimg"></div>
    <div class="upWindow"></div>
    <div id="addFile"><input type="button" value="添加文件"></div>
</div>
<div id="uploadBox"></div>
<script>
    $.map($(".preview"), function(x){
        $(x).click(function(){
            $(".Vimg").html($(this).parent().prev().html());
            $(".Vimg").dialog({
                title: "预览",
                resizable: false,
                modal : true,
                width: 920,
                height: 500,
            });
            $(document).ready(function() {
                $(".v").bind("mousewheel", function() {
                    zoomImg(this);
                    return false;
                });
            });

            $(".v").draggable({disabled: false});
        });
    });
    $("#addFile input").button();
    $("#addFile").click(function (){
        var self = this;
        $.ajax({
            cache: false,
            type: "post",
            url: "upload",
            data: "type=getForm&f=pp",
            async: false,
            error: function () {
                alert('加载失败');
            },
            success: function (data) {
                $(".upWindow").html(data);
                $("#load_form").append('<label>关键字<input id="x" max_len="18"></label>');
                $(".upWindow").dialog({
                    resizable: false,
                    title: "添加变配电文件",
                    resizable: false,
                    width: 350,
                    modal : true,
                    buttons: {
                        "确定": function () {
                            var oData = new FormData();
                            oData.append("file", $("#id_file")[0].files[0]);
                            oData.append("name", $("#id_file").val().replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi,"$1"));
                            oData.append("type", "add");
                            oData.append("key", $("#x").val());
                            var oReq = new XMLHttpRequest();
                            oReq.open( "POST", "changePower" , true);
                            oReq.onload = function() {
                              if (oReq.status == 200) {
                                  alert("成功");
                                  getPage("PowerDistribution");
                              }else{
                                  alert("失败");
                              }
                            };
                            oReq.send(oData);
                             $(".upWindow").html("");
                             $(".ui-dialog").remove();
                        },
                        "取消": function () {
                             $(".upWindow").html("");
                             $(".ui-dialog").remove();
                        }
                    }
                });
            }
        });
    });

    function zoomImg(o) {
        var zoom = parseInt(o.style.zoom, 10) || 100;
        zoom += event.wheelDelta / 10; //可适合修改
        if (zoom > 28)
            o.style.zoom = zoom + '%';
    }
    $(".v").mousedown(function(){
        $(this).css("cursor","move");
    });
    $(".v").mouseup(function(){
        $(this).css("cursor","default");
    });
    function my_exit_() {
        $(".Vimg").remove();
        return true;
    }
    _my_loadOver("PowerDistribution");
</script>
